<%- include('parts/header', { bootScript: `initializeSensorView("${sensor.id}")` }) %>
<nav id="menu">
    <div class="menu-section left">
        <a href="/">Zurück zur Karte</a>
        <a href="/sensors">Sensorliste</a>
    </div>
    <div class="menu-section right">
        <select id="map-style" class="form-control">
            <option value="" selected>OSM Standard</option>
            <option value="osm-bright">OSM Bright</option>
            <option value="map-tiler-basic">Map Tiler</option>
            <option value="positron">Positron</option>
            <option value="dark-matter">Dark Matter</option>
        </select>
    </div>
</nav>
<section id="page">
    <div id="sidebar">

        <div id="sensor-info">
            <div class="side-block">
                <h3>Sensor</h3>
                <h4><%= sensor.name %></h4>
                <p class="sensor-description"><%= sensor.description %></p>
                <h5>Letzte Aktivität</h5>
                <div class="sensor-last-activity">&nbsp;</div>
                <h5>Aktuelle Werte</h5>
                <div class="sensor-series"></div>
            </div>
        </div>

        <div id="sensor-position" class="side-block">
            <h3>Position</h3>
            <div id="map" class="mini-map"></div>
            <div class="sensor-location text-center"></div>
        </div>

    </div>
    <div id="sensor-details" class="main-area">
        <div class="container">
            <h1><%= sensor.name %></h1>
            <p>Sensor-ID: <code><%= sensor.id %></code></p>
            <div class="form-inline">
                <label for="series-selection" class="mb-2 mr-sm-2">Kanal</label>
                <select id="series-selection" class="form-control mb-2 mr-sm-4"
                    onchange="onSeriesSelectionChanged(this)">
                    <option value="" selected>kein Kanal ausgewählt</option>
                </select>
            </div>

            <div id="series-details" style="display: none">
                <h2 id="series-name"></h2>
                <p id="series-description"></p>
                <ul>
                    <li>Kanal-ID: <code id="series-id"></code></li>
                    <li>Einheit: <span id="series-unit"></span></li>
                    <li>Gerät: <span id="series-device"></span></li>
                </ul>

                <h2>Werteverlauf</h2>
                <div class="btn-group-sm mb-3">
                    <button id="set-plot-range-1-hour" class="btn btn-outline-primary">1 Stunde</button>
                    <button id="set-plot-range-1-day" class="btn btn-outline-primary">1 Tag</button>
                    <button id="set-plot-range-1-week" class="btn btn-outline-primary">1 Woche</button>
                    <button id="set-plot-range-1-month" class="btn btn-outline-primary">1 Monat</button>
                    <button id="set-plot-range-1-year" class="btn btn-outline-primary">1 Jahr</button>
                </div>
                <div class="form-inline mb-2">
                    <label for="plot-start" class="mb-2 mr-sm-2">von</label>
                    <input id="plot-start" type="datetime-local" class="form-control mb-2 mr-sm-2"
                        placeholder="Anfang" />

                    <label for="plot-end" class="mb-2 mr-sm-2">bis</label>
                    <input id="plot-end" type="datetime-local" class="form-control mb-2 mr-sm-4"
                        placeholder="Ende" />
                </div>
                <div class="form-inline">
                    <div class="form-check">
                        <input id="plot-raw-data" type="checkbox" class="form-check-input mb-2 mr-sm-2" />
                        <label for="plot-raw-data" class="form-check-label mb-2 mr-sm-4">Rohdaten</label>
                    </div>
                    <label for="plot-window" class="mb-2 mr-sm-2">Fenster</label>
                    <select id="plot-window" class="form-control mb-2 mr-sm-4">
                        <option value="1">1 Minute</option>
                        <option value="15">15 Minuten</option>
                        <option value="60">1 Stunde</option>
                        <option value="120">2 Stunden</option>
                        <option value="360">6 Stunden</option>
                        <option value="1440" selected>1 Tag</option>
                        <option value="10080">1 Woche</option>
                        <option value="43200">30 Tage</option>
                        <option value="525600">1 Jahr</option>
                    </select>
                    <button id="refresh-plot" type="button" class="btn btn-primary mb-2"
                        onclick="loadSeries()">Aktualisieren</button>
                </div>
                <div id="series-plot" class="mt-4 mb-4"></div>
                <p>URL zum Abruf der dargestellten Daten:</p>
                <p><code id="api-url-series-json"></code></p>
            </div>

            <h2>Datendownload</h2>
            <p>Im Download sind immer alle Kanäle des Sensors enthalten.</p>
            <div class="btn-group-sm mb-3">
                <button id="set-dl-range-1-hour" class="btn btn-outline-primary">1 Stunde</button>
                <button id="set-dl-range-1-day" class="btn btn-outline-primary">1 Tag</button>
                <button id="set-dl-range-1-week" class="btn btn-outline-primary">1 Woche</button>
                <button id="set-dl-range-1-month" class="btn btn-outline-primary">1 Monat</button>
                <button id="set-dl-range-1-year" class="btn btn-outline-primary">1 Jahr</button>
            </div>
            <div class="form-inline mb-2">
                <label for="dl-start" class="mb-2 mr-sm-2">von</label>
                <input id="dl-start" type="datetime-local" class="form-control mb-2 mr-sm-2"
                    placeholder="Anfang" />

                <label for="dl-end" class="mb-2 mr-sm-2">bis</label>
                <input id="dl-end" type="datetime-local" class="form-control mb-2 mr-sm-4"
                    placeholder="Ende" />
            </div>
            <div class="form-inline mb-2">
                    <div class="form-check">
                        <input id="dl-raw-data" type="checkbox" class="form-check-input mb-2 mr-sm-2" />
                        <label for="dl-raw-data" class="form-check-label mb-2 mr-sm-4">Rohdaten</label>
                    </div>
                <label for="dl-window" class="mb-2 mr-sm-2">Fenster</label>
                <select id="dl-window" class="form-control mb-2 mr-sm-4">
                    <option value="1">1 Minute</option>
                    <option value="15">15 Minuten</option>
                    <option value="60">1 Stunde</option>
                    <option value="120">2 Stunden</option>
                    <option value="360">6 Stunden</option>
                    <option value="1440" selected>1 Tag</option>
                    <option value="10080">1 Woche</option>
                    <option value="43200">30 Tage</option>
                    <option value="525600">1 Jahr</option>
                </select>
            </div>
            <div class="form-inline">
                <button id="download-standard" type="button" class="btn btn-primary mb-2 mr-1"
                    onclick="downloadSensorCsv()">Download CSV (Standard)</button>
                <button id="download-excel-german" type="button" class="btn btn-primary mb-2"
                    onclick="downloadSensorCsv({format:'ExcelGerman'})">Download CSV (Excel, Deutsch)</button>
            </div>
            <p>URL zum Abruf der CSV-Datei:</p>
            <p><code id="api-url-sensor-csv"></code></p>
            <p>
                <strong>Hinweis:</strong>
                An die URL kann ein <code>&format=ExcelGerman</code> angehängt werden,
                um den CSV-Dialekt für Microsoft Excel abzurufen.
            </p>
            <p>
                <strong>Hinweis:</strong>
                Die Spalte <code>ts</code> enthält im Standard-CSV-Format
                den Zeitpunkt ISO-8601-kodiert.
                Im Format für das deutsche Excel, enthält die Spalte <code>ts</code>
                den Zeitpunkt in Microsofts
                <a href="http://fileformats.archiveteam.org/wiki/OLE_Automation_Date" target="_blank">OLE-Automation-Datumsformat</a>
                (OADate).
                Die Spalte kann in Excel direkt als Datum/Zeit formatiert werden.
            </p>
        </div>
    </div>
</section>
<%- include('parts/footer') %>